.add-car-page {
    min-height: 72.8vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem 2rem 2rem;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

.form-section {
    width: 100%;
    max-width: 550px;
    border-radius: 12px;
    box-sizing: border-box;
}

.title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;
}

.inline-field {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.inline-field label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}

.input {
    width: 100%;
    padding: 13.2px;
    border-radius: 5px;
    border: none;
    font-size: 1.1em;
    box-sizing: border-box;
    background-color: #25282A;
    color: white;
}

.info-text {
    font-size: 0.825em;
    margin: 1.5rem 0;
    color: #B8D0E9;
    line-height: 1.5;
}

.button-container {
    display: flex;
    gap: 0.5rem;
    margin-top: 1.5rem;
    justify-content: space-between;
}

.submit-button {
    all: unset;
    flex: 1;
    padding: 13.2px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: #25282A;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #3E4E5E;
}