.footer {
    background-color: #252729;
    color: #aaa;
    text-align: center;
    margin-top: 0;
    padding: 2rem 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.footer-info {
    font-size: 0.9rem;
    line-height: 1.8;
}