.search-bar-container {
  display: flex;
  align-items: center;
  background-color: #E6EFF7;
  border-radius: 1.25rem;
  padding: 0.5rem 0.8rem;
  max-width: 67.5rem;
  max-height: 5.56rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.875rem;
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 0.6rem;
  background-color: #E6EFF7;
  border-radius: 9999px;
}

.search-option,
.brand-select {
  display: flex;
  align-items: center;
  height: 2.25rem;
  font-size: 1rem;
  font-weight: 600;
  color: #101820;
  background-color: transparent;
  line-height: 1;
  padding: 0 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  border: none;
}

.search-option.disabled {
  color: #CDCDCD;
  cursor: default;
}

.brand-select {
  appearance: none;
}

.brand-select:focus {
  outline: none;
}

.brand-select option {
  color: #101820;
  background-color: white;
}

.divider {
  width: 1px;
  height: 1.75rem;
  background-color: #CDCDCD;
  align-self: center;
}

.search-button {
  width: 2.25rem;
  height: 2.25rem;
  margin-left: 0.8rem;
  margin-bottom: 0.375rem;
  padding: 0;
  background-color: #101820;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  position: relative;
}

.search-button:hover {
  background-color: #3E4E5E;
}

.search-option img,
.search-option svg {
  display: block;
}