.search-bar-container {
  display: flex;
  align-items: center;
  background-color: #E6EFF7;
  border-radius: 20px;
  padding: 0.4rem 1rem;
  max-width: 1080px;
  max-height: 89px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 1rem;
  background-color: #E6EFF7;
  border-radius: 999px;
}

.search-option {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 0.95rem;
  color: #101820;
  gap: 0.5rem;
  white-space: nowrap;
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  line-height: 1.2;
}

.search-option.disabled {
  color: #CDCDCD;
  cursor: default;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #CDCDCD;
}

.search-button {
  background-color: #101820;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  padding: 0;
  position: relative;
  margin-bottom: 10px;
}

.search-button:hover {
  background-color: #373A36;
}