.sign-page {
  min-height: 72.8vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 2rem 2rem;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
}

.form-section {
  width: 100%;
  max-width: 550px;
  border-radius: 12px;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
}

input[type="loginId"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 13.2px;
  margin: 11px 0;
  border-radius: 5px;
  border: none;
  font-size: 1.1em;
  box-sizing: border-box;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

.info-text {
  font-size: 0.825em;
  margin-bottom: 11px;
  color: #B8D0E9;
  text-align: right;
}

.checkbox-container {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 0.825em;
  margin: 11px 0;
  line-height: 1.54em;
}

.checkbox-container input[type="checkbox"] {
  accent-color: #B8D0E9;
  width: 17.6px;
  height: 17.6px;
  margin-top: 4px;
}

button {
  width: 100%;
  padding: 13.2px;
  background-color: #25282A;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  margin-top: 11px;
}

.easy-login-group {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.easy-login-btn {
  all: unset;
  flex: 1;
  padding: 13.2px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}

.brand-logo {
  width: 24px;
  height: auto;
}

.easy-login-btn.kia {
  background-color: #05141F;
}

.easy-login-btn.genesis {
  background-color: black;
}

.easy-login-btn.bluelink {
  background-color: #002E6B;
}

.wallet-btn {
  background-color: white;
  color: #25282A;
  border: 1px solid #CDCDCD;
}

.register {
  margin-top: 22px;
  font-size: 0.88em;
  color: #CDCDCD;
  text-align: center;
}

.register a {
  color: white;
  text-decoration: underline;
}