.sign-page {
  min-height: 76.3vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 2rem 2rem;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
}

.form-section {
  width: 100%;
  max-width: 550px;
  border-radius: 12px;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 13.2px;
  margin: 11px 0;
  border-radius: 5px;
  border: none;
  font-size: 1.1em;
  box-sizing: border-box;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

.info-text {
  font-size: 0.825em;
  margin-bottom: 11px;
  color: #A7C7F3;
  text-align: right;
}

.checkbox-container {
  display: flex;
  align-items: flex-start;
  gap: 9px;
  font-size: 0.825em;
  margin: 11px 0;
  line-height: 1.54em;
}

.checkbox-container input[type="checkbox"] {
  accent-color: #A7C7F3;
  width: 17.6px;
  height: 17.6px;
  margin-top: 4px;
}

.logo-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 11px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-button img {
  width: 120px;
  height: auto;
  object-fit: contain;
}

button {
  width: 100%;
  padding: 13.2px;
  background-color: #333949;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 11px;
}

.wallet-btn {
  background-color: white;
  color: #333949;
  border: 1px solid #ccc;
}

.register {
  margin-top: 22px;
  font-size: 0.88em;
  color: #ccc;
  text-align: center;
}

.register a {
  color: white;
  text-decoration: underline;
}